
a{
  text-decoration: none;  
  font-size: 35px;
  color: black;
  text-indent: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 100;
}

ul{
    text-align: center;
    color: aquamarine;
    padding: 21px 8px 22px;
    color: var(--color-white );
    font-size: 1rem;
    line-height: 1.11;
    margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

img {
    box-sizing: border-box;
    padding: 25px;
    border: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 30.625rem;
    height: 30.625rem;
    margin-right: 50px;
}
p {
    display: flex;
    justify-content: flex-start;
    font-size: 2rem;
    font-family: fantasy;
    margin-left: 50px;
    
}
    body {
        margin: 0;
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        color: #333;
        background-color: cadetblue;
        text-align: center;
      }

header{
    background-color: blueviolet;
    color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 60px;
}


.text{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

li{
    display: flex;
    flex-direction: column;

}
.container{
display: flex;
flex-direction: row;
}

form{
    display: flex;
    justify-content: flex-start;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}